.App {
  text-align: center;
}

.flexCont {
  display        : flex;
  flex-wrap      : wrap;
  justify-content: space-around;
  width          : 100%;
}

.data-card {
  border: 1px solid black;
  width : 30%;
  margin: 1rem;
}

.divBtn {
  border: 1px solid black;
  color : rgb(78, 196, 226);
}

.divBtn:hover {
  cursor    : pointer;
  box-shadow: 5px 5px 5px grey;
}